@import "typography.css";
@import "elements.css";
@import "buttons.css";
@import "header.css";
@import "forms.css";
@import "footer.css";
@import "sections.css";


body{
    background: #FFC500;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding: 3em 1em;
}

.container > p {
    width: 80%;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 5em 2em;
    }
    .container > p {
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .container{
        padding: 7em 1em;
    }


}