/*CTA Sections*/
.cta-section{
    position: relative;
    background: #FFFFFF;
    color: #000000;
}

.cta-section .container{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.cta-section .container > div{
    flex: 0 1 100%;
}

.cta-section .img-wrapper:before {
    padding-top: 95%;
}

@media (min-width: 600px) {
    .cta-section.left .container {
        text-align: left;
    }
    .cta-section .container > div{
        flex: 0 1 50%;
    }

    .cta-section .container > div.section-image{
        flex: 0 1 40%;
    }
    .cta-section.right .container{
        text-align: right;
    }
}


@media (min-width: 1024px) {

}