/*CTA Sections*/
.cta-section {
    position: relative;
    background: #FFFFFF;
    color: #2D2F41;
}

.cta-section .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.cta-section .container > div {
    flex: 0 1 100%;
}

.cta-section .img-wrapper:before {
    padding-top: 95%;
}


/*Team Section*/
.team-section {
    background: #FFFFFF;
    color: #2D2F41;
}


.team-section .social-links {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    margin-top: 0.5em;
}

.team-section .social-links a {
    background: #EAAC00;
    color: #FFFFFF;
    border: 1px solid #EAAC00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.team-section .social-links li a:hover {
    background: transparent;
    color: #EAAC00;
}

.team-section .box-title{
    font-weight: 600;
}
.team-section .box-content{
    font-weight: 300;
}
.team-section .position{
    text-transform: uppercase;
    font-size: 0.9em;
}

/*Statistics Section*/
.statistics-section {
    background : center/cover no-repeat url("../images/statistic-bg.png");
    box-shadow: inset 0 0 0 50vw rgba(255, 195, 0, 0.8);
    filter: saturate(120%);
}

.statistics-section .box-title{
    font-size: 1.8em;
    font-weight: 600;
}
.statistics-section .box-content{
    font-size: 1.8em;
    padding: 0;
}
.statistics-section .box-icon{
    margin: 1em 0;
}

/*Prices Section*/
.prices-section ul.boxes-list .box-title > span{
    display: inline-block;
    font-size: 1.4em;
}

.prices-section .box-title > span.price{
    margin: 0 1em 1em 0;
    position: relative;
}
.prices-section .box-title > span.price:before{
    display: inline-block;
    content: " ";
    border: 1.5px solid #FFFFFF;
    width: 140%;
    margin-left: -20%;
    height: 2px;
    position: absolute;
    top: 45%;
}


@media (min-width: 600px) {
    .cta-section.left .container {
        text-align: left;
    }

    .cta-section .container > div {
        flex: 0 1 50%;
    }

    .cta-section .container > div.section-image {
        flex: 0 1 40%;
    }

    .cta-section.right .container {
        text-align: right;
    }
}


@media (min-width: 1024px) {

}